[Desktop Entry]
Version=1.0
Type=Application
Name=XeroLinux Fingerprint GUI Tool
GenericName=Fingerprint Manager
Comment=GTK4 GUI to manage fingerprint enrollment and PAM integration
Exec=xfprintd-gui
Icon=xfprintd-gui
Terminal=false
StartupNotify=true
Categories=System;Security;Settings;
Keywords=fingerprint;biometric;authentication;pam;security;enrollment;
StartupWMClass=xyz.xerolinux.xfprintd_gui
